* {
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 14px;
}
body > div {
  position: relative;
  & > img {
    left: -14%;
    z-index: 1;
    top: 45%;
    position: absolute;
  }
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  width: 900px;
  & h1 {
    margin: 5px 0;
    color: hsl(240, 6%, 50%);
    font-weight: 700;
  }
}
article {
  color: hsl(237, 12%, 33%);
  padding: 0px 30px 10px 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: column;
  align-self: stretch;
  flex: 2;
  flex-basis: 70%;
  & p {
    margin: 0;
  }
  & section {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    overflow: hidden;
    height: 35px;
    transition: 0.3s;
  }
  .content {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 12px;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: hsl(14, 88%, 65%);
    }
  }
}
.open {
  height: 90px;
}
.font {
  color: hsl(240, 6%, 50%);
  font-weight: 700;
}
.rotate {
  transform: rotate(180deg);
}
.img {
  left: -50px;

  & img.desk {
    position: relative;
    &:nth-child(3) {
      position: absolute;
      max-width: 100%;
      top: -80%;
      left: -53%;
    }
    &:nth-child(4) {
      width: 500px;
      left: -90px;
    }
  }
}
.mob {
  display: none;
}
@media (max-width: 1100px) {
  .container {
    flex-flow: column;
    max-width: 600px;
    overflow: visible;
  }
  .open {
    height: 70px;
  }
  .img {
    height: 80px;
  }
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 350px;
  }
  .open {
    height: 90px;
  }
}
